Repository ravendb/ravendb, pull requests merged in 2023-09, with the labels that each got.

#17159 RavenDB-21115 Add Info Hub to Periodic Backups view
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditPeriodicBackupTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/editPeriodicBackupTask.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/editPeriodicBackupTask.html
Labels: v6.0, Studio

#17155 RavenDB-21154 Add Floating Info Hub to Server-Wide Tasks Views
  src/Raven.Studio/typescript/viewmodels/manage/EditServerWideBackupInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/EditServerWideExternalReplicationInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/editServerWideBackup.ts
  src/Raven.Studio/typescript/viewmodels/manage/editServerWideExternalReplication.ts
  src/Raven.Studio/wwwroot/App/views/manage/editServerWideBackup.html
  src/Raven.Studio/wwwroot/App/views/manage/editServerWideExternalReplication.html
Labels: v6.0, Studio

#17153 RavenDB-21222 Set ProjectionNullValue reference as internal equivalent of null for MoreLikeThis purpose.
  src/Corax/IndexSearcher/IndexSearcher.TermMatch.cs
Labels: Corax, v6.0

#17162 RavenDB-21129 Make Backup Encryption Key visible
  src/Raven.Studio/wwwroot/App/views/resources/createDatabase.html
Labels: v6.0, Studio

#17163 RavenDB-20846 Allow to enforce revisions configuration for a single c…
  src/Raven.Studio/typescript/commands/database/settings/enforceRevisionsConfigurationCommand.ts
  src/Raven.Studio/typescript/viewmodels/database/settings/enforceRevisions.ts
  src/Raven.Studio/typescript/viewmodels/database/settings/revisions.ts
  src/Raven.Studio/wwwroot/App/views/database/settings/enforceRevisions.html
  tools/TypingsGenerator/Program.cs
Labels: v5.4

#17169 RavenDB-21064 Update Info Hub Licensing Components
  src/Raven.Studio/typescript/components/common/AboutView.stories.tsx
  src/Raven.Studio/typescript/components/common/AboutView.tsx
  src/Raven.Studio/typescript/components/common/AccordionLicenseLimited.tsx
  src/Raven.Studio/typescript/components/common/AccordionLicenseNotIncluded.tsx
  src/Raven.Studio/typescript/components/pages/database/indexes/cleanup/IndexCleanup.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/clientConfiguration/ClientDatabaseConfiguration.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentExpiration/DocumentExpiration.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRefresh/DocumentRefresh.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisions.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/studioConfiguration/StudioDatabaseConfiguration.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/clientConfiguration/ClientGlobalConfiguration.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/studioConfiguration/StudioGlobalConfiguration.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditKafkaSinkTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditPeriodicBackupTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditRabbitMqSinkTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditSubscriptionTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/EditServerWideBackupInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/EditServerWideExternalReplicationInfoHub.tsx
Labels: v6.0, Studio

#17173 RavenDB-7070 updated NuGet packages
  bench/Regression.Benchmark/Regression.Benchmark.csproj
  src/Raven.Server/Raven.Server.csproj
  test/BenchmarkTests/BenchmarkTests.csproj
  test/EmbeddedTests/EmbeddedTests.csproj
  test/FastTests/FastTests.csproj
  test/InterversionTests/InterversionTests.csproj
  test/LicenseTests/LicenseTests.csproj
  test/RachisTests/RachisTests.csproj
  test/SlowTests/SlowTests.csproj
  test/StressTests/StressTests.csproj
  tools/Raven.Debug/Raven.Debug.csproj
  tools/Raven.Migrator/Raven.Migrator.csproj
  tools/rvn/rvn.csproj
Labels: v5.4

#17172 RavenDB-21206 updated Jint
  libs/Jint.3.0.30-ravendb.nupkg
  libs/Jint.3.0.32-ravendb.nupkg
  src/Raven.Server/Raven.Server.csproj
Labels: v5.4

#17180 RavenDB-20744 - High CPU in a single leader cluster
  src/Raven.Server/Rachis/Leader.cs
Labels: v5.4

#17171 RavenDB-19337 Upgrade to Jint 3.0.0-beta-2051
  src/Raven.Server/Raven.Server.csproj
Labels: v6.0

#17190 RavenDB-21097 - SlowTests.Client.Attachments.AttachmentsReplication.DeleteAttachments(options: DatabaseMode = Sharded , SearchEngineMode = Lucene)
  test/SlowTests/Client/Attachments/AttachmentsReplication.cs
Labels: v6.0

#17188 RavenDB-20738 : add debug info to flaky test
  test/RachisTests/DatabaseCluster/AtomicClusterReadWriteTests.cs
Labels: v6.0

#17189 RavenDB-21145 - FastTests.Client.Hilo.Should_Resolve_Conflict_With_Highest_Number(options: DatabaseMode = Sharded , SearchEngineMode = Lucene)
  test/FastTests/Client/HiLo.cs
Labels: v6.0

#17178 RavenDB-21237 - High unamanged for a streaming query from an index
  src/Raven.Server/Documents/Indexes/Index.cs
  src/Raven.Server/Documents/Queries/Dynamic/CollectionQueryRunner.cs
  src/Raven.Server/Documents/Queries/GraphQueryRunner.cs
  src/Raven.Server/Documents/Queries/StreamDocumentQueryResult.cs
Labels: v5.4

#17147 RavenDB-7070 - Log the memory that was used during a query in case we are in a low memory state
  src/Raven.Server/Documents/Indexes/Persistence/IndexReadOperationBase.cs
Labels: v5.4

#17177 RavenDB-21206 - Add a test after updating Jint
  test/FastTests/Client/FirstClassPatch.cs
Labels: v5.4

#17191 RavenDB-21198 Fixing edit of queue sink task
  src/Raven.Server/ServerWide/JsonDeserializationCluster.cs
Labels: v6.0

#17146 RavenDB-21043: Bound of 128Mb of allocations for 32bits during dictionary training.
  src/Raven.Server/Config/Categories/IndexingConfiguration.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxDocumentTrainEnumerator.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxIndexPersistence.cs
  src/Raven.Studio/typescript/models/database/index/configurationItem.ts
  test/FastTests/Issues/RavenDB_16590.cs
Labels: Corax, v6.0

#17179 RavenDB-20726 - NRE during deleting a conflict on attachments
  src/Raven.Server/Documents/AttachmentsStorage.cs
  src/Raven.Server/Documents/ConflictsStorage.cs
  test/SlowTests/Client/Attachments/AttachmentsReplication.cs
Labels: v6.0

#17192 RavenDB-21249 Fix loading non-existing document in cluster transaction
  src/Raven.Server/Documents/Handlers/DocumentHandler.cs
  src/Raven.Server/Documents/Includes/IncludeCompareExchangeValuesCommand.cs
  test/SlowTests/Issues/RavenDB-19629.cs
Labels: v5.4

#17186 RavenDB-21203 Increasing the default value of Cluster.MaxChangeVectorDistance configuration option from 10000 to 65536
  src/Raven.Server/Config/Categories/ClusterConfiguration.cs
Labels: v6.0

#17199 RavenDB-20425 forget about revisions that we skip
  src/Raven.Server/Documents/Revisions/RevisionsStorage.cs
Labels: v5.4

#17078 RavenDB-20423 - Attachments reference are missing in destination DB when recreating a document from revision due to replication
  test/SlowTests/Issues/RavenDB-20423.cs
Labels: v5.4

#17198 RavenDB-21249 ClusterWaitFor should not do topology updates
  test/Tests.Infrastructure/ClusterTestBase.cs
Labels: v5.4

#17201 RavenDB-21113 Indexes Community license limits (UI fixes)
  src/Raven.Studio/typescript/components/pages/database/indexes/list/IndexesPage.tsx
Labels: v6.0, Studio

#17206 RavenDB-7070 added timeout to azure/aws/gcp tests
  test/SlowTests/Server/Documents/ETL/Olap/AzureTests.cs
  test/SlowTests/Server/Documents/ETL/Olap/GoogleCloudTests.cs
  test/SlowTests/Server/Documents/ETL/Olap/S3Tests.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Aws.cs
  test/SlowTests/Server/Documents/PeriodicBackup/CustomS3.cs
  test/SlowTests/Server/Documents/PeriodicBackup/GoogleCloud.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Restore/RestoreFromGoogleCloud.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Restore/RestoreFromS3.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Retention.cs
Labels: v5.4

#17203 Merge v5.4 to v6.0
  bench/Regression.Benchmark/Regression.Benchmark.csproj
  libs/Jint.3.0.32-ravendb.nupkg
  src/Raven.Server/Documents/Handlers/Processors/Documents/DocumentHandlerProcessorForGet.cs
  src/Raven.Server/Documents/Handlers/Processors/Revisions/RevisionsHandlerProcessorForGetRevisionsConflictsConfiguration.cs
  src/Raven.Server/Documents/Includes/IncludeCompareExchangeValuesCommand.cs
  src/Raven.Server/Documents/Indexes/Index.cs
  src/Raven.Server/Documents/Indexes/Persistence/IndexReadOperationBase.cs
  src/Raven.Server/Documents/Queries/Dynamic/CollectionQueryRunner.cs
  src/Raven.Server/Documents/Queries/StreamDocumentQueryResult.cs
  src/Raven.Server/Documents/Revisions/RevisionsStorage.cs
  src/Raven.Server/Documents/Subscriptions/SubscriptionConnectionsState.cs
  src/Raven.Server/Monitoring/ServerLimitsMonitor.cs
  src/Raven.Server/NotificationCenter/AbstractDatabaseNotificationCenter.cs
  src/Raven.Server/NotificationCenter/ConflictRevisionsExceeded.cs
  src/Raven.Server/NotificationCenter/Notifications/AlertType.cs
  src/Raven.Server/NotificationCenter/Notifications/Details/ConflictPerformanceDetails.cs
  src/Raven.Server/NotificationCenter/Notifications/Details/ServerLimitsDetails.cs
  src/Raven.Server/Rachis/Leader.cs
  src/Raven.Server/Raven.Server.csproj
  src/Raven.Server/ServerWide/Commands/Subscriptions/AcknowledgeSubscriptionBatchCommand.cs
  src/Raven.Server/Smuggler/Documents/DatabaseDestination.cs
  src/Raven.Server/Web/System/AdminPrometheusMonitoringHandler.cs
  src/Raven.Studio/typescript/commands/database/settings/enforceRevisionsConfigurationCommand.ts
  src/Raven.Studio/typescript/common/notifications/notificationCenter.ts
  src/Raven.Studio/typescript/viewmodels/common/notificationCenter/detailViewer/alerts/conflictExceededDetails.ts
  src/Raven.Studio/typescript/viewmodels/common/notificationCenter/detailViewer/alerts/serverLimitsDetails.ts
  src/Raven.Studio/typescript/viewmodels/database/settings/enforceRevisions.ts
  src/Raven.Studio/wwwroot/App/views/common/notificationCenter/detailViewer/alerts/conflictExceededDetails.html
  src/Raven.Studio/wwwroot/App/views/database/settings/enforceRevisions.html
  test/BenchmarkTests/BenchmarkTests.csproj
  test/EmbeddedTests/EmbeddedTests.csproj
  test/FastTests/Client/FirstClassPatch.cs
  test/FastTests/FastTests.csproj
  test/InterversionTests/InterversionTests.csproj
  test/LicenseTests/LicenseTests.csproj
  test/RachisTests/RachisTests.csproj
  test/SlowTests/Issues/RavenDB-19629.cs
  test/SlowTests/Issues/RavenDB-21101.cs
  test/SlowTests/SlowTests.csproj
  test/SlowTests/Smuggler/Data/revisionTombstonesWithBigChangeVector.ravendbdump
  test/SlowTests/Smuggler/RavenDB_21047.cs
  test/StressTests/StressTests.csproj
  tools/Raven.Debug/Raven.Debug.csproj
  tools/Raven.Migrator/Raven.Migrator.csproj
  tools/TypingsGenerator/Program.cs
  tools/rvn/rvn.csproj
Labels: v6.0

#17210 RavenDB-21104 - fixing PR comments#3
  src/Raven.Server/Documents/DocumentsTransaction.cs
Labels: v6.0

#17220 RavenDB-21174: High contention fixes.
  src/Sparrow/Collections/ConcurrentSet.cs
Labels: v6.0

#17219 RavenDB-21252 Selecting ongoing task with duplicated name bug
  src/Raven.Studio/typescript/common/generalUtils.ts
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTaskSelectActions.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTasksPage.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/ElasticSearchEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/ExternalReplicationPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/KafkaEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/KafkaSinkPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/OlapEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/PeriodicBackupPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/RabbitMqEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/RabbitMqSinkPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/RavenEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/ReplicationHubDefinitionPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/ReplicationSinkPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/SqlEtlPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/panels/SubscriptionPanel.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/shared/OngoingTaskOperationConfirm.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/shared/shared.tsx
Labels: v6.0, Studio

#17215 RavenDB-21061 - SlowTests.Issues.RavenDB_16614.WillDeleteOrphanedAtomicGuards_AfterRestoreFromBackup(options: DatabaseMode = Sharded , SearchEngineMode = Lucene)
  test/SlowTests/Issues/RavenDB-16614.cs
Labels: v6.0

#17225 5.4 to 6.0 merge
  src/Raven.Server/Documents/Revisions/RevisionsStorage.cs
  src/Raven.Server/Smuggler/Documents/DatabaseDestination.cs
  test/SlowTests/Issues/RavenDB-20423.cs
  test/SlowTests/Server/Documents/ETL/Olap/AzureTests.cs
  test/SlowTests/Server/Documents/ETL/Olap/GoogleCloudTests.cs
  test/SlowTests/Server/Documents/ETL/Olap/S3Tests.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Aws.cs
  test/SlowTests/Server/Documents/PeriodicBackup/CustomS3.cs
  test/SlowTests/Server/Documents/PeriodicBackup/GoogleCloud.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Restore/RestoreFromGoogleCloud.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Restore/RestoreFromS3.cs
  test/SlowTests/Server/Documents/PeriodicBackup/Retention.cs
  test/SlowTests/SlowTests.csproj
  test/SlowTests/Smuggler/Data/revisionTombstonesWithBigChangeVector.ravendbdump
  test/SlowTests/Smuggler/RavenDB_21047.cs
  test/Tests.Infrastructure/ClusterTestBase.cs
Labels: v6.0

#17230 RavenDB-21211 Fix notificationCenter for sharded db
  src/Raven.Studio/typescript/common/notifications/notificationCenter.ts
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisions.tsx
  src/Raven.Studio/typescript/viewmodels/database/settings/enforceRevisions.ts
  src/Raven.Studio/wwwroot/App/views/database/settings/enforceRevisions.html
Labels: v6.0, Studio

#17221 RavenDB-21270: Remove the requirement to zero out memory.
  src/Voron/Impl/SliceSmallSet.cs
Labels: Corax, v6.0

#17232 RavenDB-21047
  src/Raven.Server/Documents/Revisions/RevisionsStorage.cs
Labels: v6.0

#17231 RavenDB-20790 Set default limits to 14 days instead of 1 month
  src/Raven.Studio/typescript/viewmodels/manage/certificates.ts
  src/Raven.Studio/typescript/viewmodels/resources/widgets/licenseWidget.ts
Labels: v6.0, Studio

#17227 RavenDB-21016 Databases view: Database stays in Offline mode on UI after enabling it
  src/Raven.Studio/typescript/components/pages/resources/databases/store/databasesViewActions.ts
Labels: v6.0, Studio

#17238 RavenDB-20949 : fix flaky test
  test/Tests.Infrastructure/RavenTestBase.cs
Labels: v6.0

#17236 RavenDB-21293 Add button popover for Custom Sorters and Analyzers
  src/Raven.Studio/typescript/components/pages/database/settings/customAnalyzers/DatabaseCustomAnalyzers.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/customSorters/DatabaseCustomSorters.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/serverWideAnalyzers/ServerWideCustomAnalyzers.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/serverWideSorters/ServerWideCustomSorters.tsx
Labels: v6.0, Studio

#17246 RavenDB-21323 Fix studio 6.0 build
  src/Raven.Studio/typescript/components/pages/database/settings/customAnalyzers/DatabaseCustomAnalyzers.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/customSorters/DatabaseCustomSorters.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/serverWideAnalyzers/ServerWideCustomAnalyzers.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/serverWideSorters/ServerWideCustomSorters.tsx
Labels: v6.0, Studio

#17245 RavenDB-21096 set DatabaseGroupId and ClusterTransactionId in during …
  src/Raven.Server/Documents/DocumentDatabase.cs
Labels: v6.0

#17247 RavenDB-7070 Throwing NotSupportedInCoraxException instead of NotSupportedException when unsupported feature is Corax specifc
  src/Raven.Server/Documents/Indexes/Persistence/Corax/AnonymousCoraxDocumentConverter.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxDocumentConverterBase.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxIndexReadOperation.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxQueryBuilder.cs
Labels: Corax, v6.0

#17252 RavenDB-21235 Fix text for Client-Configuration Views
  src/Raven.Studio/typescript/components/pages/database/settings/clientConfiguration/ClientDatabaseConfiguration.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/clientConfiguration/ClientGlobalConfiguration.tsx
Labels: v6.0, Studio

#17251 RavenDB-21294 License restricted backup options
  src/Raven.Studio/typescript/components/pages/database/tasks/backups/BackupsPage.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditManualBackupTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/editPeriodicBackupTask.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/editPeriodicBackupTask.html
  src/Raven.Studio/wwwroot/App/views/partial/backupDestinations.html
  src/Raven.Studio/wwwroot/Content/css/styles-common-scoped.less
Labels: v6.0, Studio

#17250 RavenDB-21288 License restricted Connections Strings
  src/Raven.Studio/typescript/viewmodels/database/settings/ConnectionStringsInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/settings/connectionStrings.ts
  src/Raven.Studio/wwwroot/App/views/database/settings/connectionStrings.html
Labels: v6.0, Studio

#17249 RavenDB-21285 Licensing limitations - Index Cleanup View
  src/Raven.Studio/typescript/components/common/AboutView.tsx
  src/Raven.Studio/typescript/components/pages/database/indexes/cleanup/IndexCleanup.tsx
Labels: v6.0, Studio

#17242 RavenDB-21286 Styling improvements for Add Database Task modal
  src/Raven.Studio/typescript/components/common/CounterBadge.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTaskAddModal.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTaskPage.scss
Labels: v6.0, Studio

#17255 RavenDB-21285 studio fix
  src/Raven.Studio/typescript/components/common/AboutView.tsx
Labels: v6.0, Studio

#17248 RavenDB-21254 Proper handling for complex nested queries
  src/Raven.Server/Documents/Indexes/Persistence/Corax/QueryOptimizer/CoraxOrQueries.cs
  test/SlowTests/Issues/RavenDB-21254.cs
Labels: Corax, v6.0

#17168 RavenDB-21116 External Replication - block in community
  src/Raven.Studio/typescript/viewmodels/database/tasks/createOngoingTask.ts
  src/Raven.Studio/typescript/viewmodels/database/tasks/editExternalReplicationTask.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/createOngoingTask.html
  src/Raven.Studio/wwwroot/App/views/database/tasks/editExternalReplicationTask.html
  src/Raven.Studio/wwwroot/Content/css/bootstrap/variables-header.less
  src/Raven.Studio/wwwroot/Content/css/styles-common.less
  src/Raven.Studio/wwwroot/Content/css/themes/blue-theme-colors-override.less
  src/Raven.Studio/wwwroot/Content/css/themes/light-theme-colors-override.less
Labels: v5.4, Studio

#17256 RavenDB-21043 Dictionary training enhancements
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxDocumentTrainEnumerator.cs
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxIndexPersistence.cs
  test/SlowTests/Issues/RavenDB_21043.cs
Labels: Corax, v6.0

#17270 RavenDB-21334 Fixing handling of empty array that is stored in Corax
  src/Raven.Server/Documents/Indexes/Persistence/Corax/CoraxIndexedEntriesReader.cs
  src/Voron/Data/PostingLists/NativeIntegersList.cs
  test/SlowTests/Issues/RavenDB-21334.cs
Labels: Corax, v6.0

#15800 RavenDB-19722 bump schemas for Documents, Indexes and Server
  src/Raven.Server/Storage/Schema/SchemaUpgrader.cs
  src/Raven.Server/Storage/Schema/Updates/Documents/60000/From50002.cs
  src/Raven.Server/Storage/Schema/Updates/LuceneIndex/60000/From54000.cs
  src/Raven.Server/Storage/Schema/Updates/Server/60000/From53001.cs
Labels: v6.0

#17263 RavenDB-21236 Colors improvements for license information table
  src/Raven.Studio/wwwroot/Content/css/pages/about.less
Labels: v6.0, Studio

#17266 RavenDB-21108: cherry pick RavenDB-20602 & RavenDB-21108
  src/Raven.Server/Documents/Handlers/Processors/Subscriptions/AbstractSubscriptionsHandlerProcessorForGetSubscription.cs
  src/Raven.Server/Documents/Sharding/Subscriptions/OrchestratedSubscriptionConnection.cs
  src/Raven.Server/Documents/Subscriptions/AbstractSubscriptionConnectionsState.cs
  src/Raven.Server/Documents/Subscriptions/AbstractSubscriptionStorage.cs
  src/Raven.Server/Documents/Subscriptions/LiveSubscriptionPerformanceCollector.cs
  src/Raven.Server/Documents/Subscriptions/Sharding/ShardSubscriptionStorage.cs
  src/Raven.Server/Documents/Subscriptions/SubscriptionConnectionBase.cs
  src/Raven.Server/Documents/Subscriptions/SubscriptionConnectionInfo.cs
  src/Raven.Server/Documents/Subscriptions/SubscriptionStatsCollector.cs
  src/Raven.Server/Documents/Subscriptions/SubscriptionStorage.cs
  src/Raven.Server/Documents/TcpHandlers/SubscriptionConnection.cs
Labels: v6.0

#17241 RavenDB-21318 Add descriptions to LogsConfiguration
  src/Raven.Server/Config/Categories/LogsConfiguration.cs
Labels: v5.4

#17273 RavenDB-21189 Cannot create Sharded database when Cluster is not bootstraped
  src/Raven.Studio/typescript/models/resources/creation/databaseCreationModel.ts
Labels: v6.0, Studio

#17277 RavenDB-21287 Remove licensing tab from ongoing tasks Info Hub
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTasksPage.tsx
Labels: v6.0, Studio

#17272 RavenDB-20922 Disabled auto index cluster wide cannot be enabled
  src/Raven.Server/Documents/Indexes/Auto/AutoIndexDefinitionBaseServerSide.cs
  src/Raven.Server/Documents/Indexes/Auto/AutoMapIndex.cs
  src/Raven.Server/Documents/Indexes/Auto/AutoMapIndexDefinition.cs
  src/Raven.Server/Documents/Indexes/Index.cs
  src/Raven.Server/Documents/Indexes/IndexDefinitionBaseServerSide.cs
  src/Raven.Server/Documents/Indexes/IndexStore.cs
  src/Raven.Server/Documents/Indexes/MapReduce/Auto/AutoMapReduceIndex.cs
  src/Raven.Server/Documents/Indexes/MapReduce/Auto/AutoMapReduceIndexDefinition.cs
  test/SlowTests/Issues/RavenDB-20922.cs
Labels: v6.0

#17285 RavenDB-21357 - Leader thread should have above normal priority
  src/Raven.Server/Rachis/Leader.cs
Labels: v5.4

#17282 RavenDB-21347 License restricted Additional Assemblies from NuGet
  src/Raven.Studio/typescript/viewmodels/database/indexes/editIndex.ts
  src/Raven.Studio/wwwroot/App/views/database/indexes/editIndex.html
Labels: v6.0, Studio

#17286 RavenDB-21214 Index Edit View: Allow to define Corax compound fields …
  src/Raven.Studio/typescript/models/database/index/compoundField.ts
  src/Raven.Studio/typescript/models/database/index/indexDefinition.ts
  src/Raven.Studio/typescript/viewmodels/database/indexes/editIndex.ts
  src/Raven.Studio/wwwroot/App/views/database/indexes/editIndex.html
Labels: Corax, v6.0, Studio

#17307 RavenDB-21362 Corax is using Tree mixes data & multi add in the same …
  src/Corax/IndexSearcher/IndexSearcher.cs
  src/Corax/IndexWriter.cs
  src/Voron/Data/BTrees/Tree.cs
  test/FastTests/Corax/StreamingOptimization_QueryBuilder.cs
Labels: Corax, v6.0

#17290 RavenDB-21349 License restricted Encryption
  src/Raven.Studio/typescript/viewmodels/resources/createDatabase.ts
  src/Raven.Studio/wwwroot/App/views/resources/createDatabase.html
  src/Raven.Studio/wwwroot/Content/css/styles-common-scoped.less
Labels: v6.0, Studio

#17294 RavenDB-20988 : sharding - fix stuck export bug
  src/Raven.Client/Documents/Changes/DatabaseChanges.cs
  src/Raven.Server/Documents/Sharding/Changes/DatabaseChangesForShard.cs
  src/Raven.Server/Documents/Sharding/Changes/ShardedDatabaseChanges.cs
  src/Raven.Server/Documents/Sharding/ShardedDatabaseContext.Operations.cs
Labels: v6.0

#17302 RavenDB-21363 Invalid detection of configuration change caused by comparing by reference which is not needed at all
  src/Raven.Server/Documents/QueueSink/QueueSinkLoader.cs
Labels: v6.0

#17301 RavenDB-21309 Test studio when one node is down
  src/Raven.Studio/typescript/commands/resources/getDatabasesStateForStudioCommand.ts
Labels: v6.0, Studio

#17292 RavenDB-21350 License restricted Read-Only Certificates
  src/Raven.Studio/typescript/viewmodels/manage/certificates.ts
  src/Raven.Studio/wwwroot/App/views/manage/certificates.html
Labels: v6.0, Studio

#17291 RavenDB-21081 - Error during resharding
  src/Raven.Server/Documents/Replication/ShardReplicationLoader.cs
Labels: v6.0

#17296 RavenDB-20394 - SlowTests.Sharding.Cluster.ShardedClusterObserverTests.DynamicNodeDistributionForOrchestrator
  test/SlowTests/Sharding/Cluster/ShardedClusterObserverTests.cs
Labels: v6.0

#17308 RavenDB-21346 Show cluster limits without need to refresh the page
  src/Raven.Server/Web/Studio/LicenseHandler.cs
  src/Raven.Studio/typescript/components/common/shell/setup.ts
  src/Raven.Studio/typescript/components/pages/database/indexes/list/useIndexesPage.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTasksPage.tsx
Labels: v6.0

#17226 RavenDB-21095 : add debug info to flaky test
  test/SlowTests/Server/Documents/PeriodicBackup/PeriodicBackupSlowTests.cs
Labels: v6.0

#17182 RavenDB-20429 : add debug info to flaky test
  test/SlowTests/Sharding/Encryption/ShardedEncryption.cs
Labels: v6.0

#17310 RavenDB-20687 : add more debug info to flaky test
  test/SlowTests/Server/Documents/ETL/Raven/BasicRavenEtlTests.cs
Labels: v6.0

#17313 RavenDB-21377 Studio tests fail
  src/Raven.Studio/typescript/components/pages/database/indexes/list/IndexesPage.stories.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTasksPage.stories.tsx
  src/Raven.Studio/typescript/components/pages/resources/manageServer/studioConfiguration/StudioGlobalConfiguration.tsx
Labels: v6.0, Studio

#17321 RavenDB-21321 Ensure that when we sort, we'll only touch the range th…
  src/Voron/Data/Containers/Container.cs
Labels: Corax, v6.0

#17325 RavenDB-21384 Database creation - Trying to input high number of node…
  src/Raven.Studio/typescript/models/resources/creation/databaseCreationModel.ts
  src/Raven.Studio/typescript/viewmodels/resources/createDatabase.ts
  src/Raven.Studio/wwwroot/App/views/resources/createDatabase.html
Labels: v6.0, Studio

#17311 RavenDB-21214 Index Edit View: Allow to define Corax compound fields …
  src/Raven.Studio/typescript/viewmodels/database/indexes/editIndex.ts
Labels: v6.0, Studio

#17327 RavenDB-21387 Replication Hub in Secure server: toggle is not visible
  src/Raven.Studio/wwwroot/App/views/database/tasks/editReplicationHubTask.html
Labels: v5.4, Studio

#17329 RavenDB-20941 Fix overflow issue on index page
  src/Raven.Studio/typescript/components/pages/database/indexes/list/IndexProgressTooltip.tsx
  src/Raven.Studio/wwwroot/Content/scss/_bs5extend.scss
Labels: v6.0, Studio

#17315 RavenDB-21146 - SlowTests.Server.Replication.AutomaticConflictResolut…
  test/SlowTests/Server/Replication/ReplicationAutomaticConflictResolution.cs
Labels: v6.0

#17330 RavenDB-21350 Info hub for Certificates
  src/Raven.Studio/typescript/viewmodels/manage/CertificatesInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/certificates.ts
  src/Raven.Studio/wwwroot/App/views/manage/certificates.html
Labels: v6.0, Studio

#17333 RavenDB-20063 : inter-version tests - fix failures in tests between 5.4 and 6.0
  test/InterversionTests/MixedClusterTests.cs
  test/InterversionTests/SmugglerTests.cs
Labels: v6.0

#17326 RavenDB-21034
  src/Raven.Server/Documents/QueueSink/RabbitMqSinkConsumer.cs
Labels: v6.0

#17342 RavenDB-21401 Remove defaultOpen & add features to Manual Backup Info Hub
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditManualBackupTaskInfoHub.tsx
Labels: v6.0, Studio

#17343 RavenDB-21403 Point out missing features in Connection Strings Info Hub
  src/Raven.Studio/typescript/viewmodels/database/settings/ConnectionStringsInfoHub.tsx
Labels: v6.0, Studio

#17348 RavenDB-21414 Remove defaultOpen for features with limits
  src/Raven.Studio/typescript/components/pages/database/indexes/list/IndexesPage.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentExpiration/DocumentExpiration.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRefresh/DocumentRefresh.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisions.tsx
  src/Raven.Studio/typescript/viewmodels/database/indexes/EditIndexInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/settings/TimeSeriesInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditSubscriptionTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/CertificatesInfoHub.tsx
Labels: v6.0, Studio

#17341 RavenDB-21389 Creating revisions configuration gives you 0ms retentio…
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisionsValidation.ts
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/EditRevision.tsx
Labels: v6.0, Studio

#17345 RavenDB-21406 - ClusterTopologyChanged not sent on connectivity changes
  src/Raven.Server/Rachis/FollowerAmbassador.cs
  src/Raven.Server/ServerWide/ServerStore.cs
Labels: v6.0

#17351 RavenDB-21379 Fixing dynamic map reduce queries with aliases in order by clause on sharded database
  src/Raven.Server/Documents/Queries/QueryMetadata.cs
  src/Raven.Server/Documents/Sharding/Queries/AbstractShardedQueryProcessor.cs
  test/SlowTests/Issues/RavenDB_21379.cs
  test/SlowTests/Sharding/Issues/RavenDB_18784.cs
Labels: v6.0

#17354 RavenDB-21379 Fixing null change vector of included documents in sharding
  src/Raven.Server/Documents/Sharding/Operations/Queries/AbstractShardedQueryOperation.cs
  src/Raven.Server/Documents/Sharding/Queries/AbstractShardedQueryProcessor.cs
  test/FastTests/Client/Includes.cs
  test/SlowTests/Client/Queries/RavenDB-17041.cs
  test/SlowTests/Issues/RavenDB_2124.cs
  test/SlowTests/SlowTests/RavenDB-14600.cs
Labels: v6.0

#17356 RavenDB-21369 - SlowTests.Sharding.Cluster.SubscriptionsWithReshardingTests.ContinueSubscriptionAfterReshardingInAClusterRF1WithOrchestratorFailover
  test/SlowTests/Sharding/Cluster/SubscriptionsWithReshardingTests.cs
  test/Tests.Infrastructure/RavenTestBase.Cluster.cs
Labels: v6.0

#17353 Merge v5.4 to v6.0
  src/Raven.Client/Http/ClusterTopology.cs
  src/Raven.Client/Http/ServerNode.cs
  src/Raven.Client/Http/Topology.cs
  src/Raven.Server/Config/Categories/EtlConfiguration.cs
  src/Raven.Server/Config/Categories/LogsConfiguration.cs
  src/Raven.Server/Documents/AttachmentsStorage.cs
  src/Raven.Server/Documents/DatabasesLandlord.cs
  src/Raven.Server/Documents/ETL/EtlLoader.cs
  src/Raven.Server/Documents/ETL/Providers/Queue/Kafka/KafkaEtl.cs
  src/Raven.Server/Documents/Replication/Incoming/IncomingReplicationHandler.cs
  src/Raven.Server/Documents/Replication/ReplicationLoader.cs
  src/Raven.Server/Documents/Replication/ResolveConflictOnReplicationConfigurationChange.cs
  src/Raven.Server/Documents/Revisions/RevisionsStorage.cs
  src/Raven.Server/Rachis/Leader.cs
  src/Raven.Server/Utils/ChangeVector.cs
  src/Raven.Server/Web/System/DatabasesHandler.cs
  src/Raven.Studio/wwwroot/App/views/database/tasks/editReplicationHubTask.html
  test/FastTests/Client/OnGoingTask.cs
  test/RachisTests/AddNodeToClusterTests.cs
  test/SlowTests/Client/Attachments/AttachmentsReplication.cs
  test/SlowTests/Issues/RavenDB-16614.cs
  test/SlowTests/Issues/RavenDB-20423.cs
  test/SlowTests/Issues/RavenDB-21382.cs
  test/SlowTests/Issues/RavenDB_20608.cs
  test/SlowTests/Server/Replication/ReplicationConflictsTests.cs
Labels: v6.0

#17359 RavenDB-21421 Fix heading in Notification Center
  src/Raven.Studio/wwwroot/App/views/notifications/notificationCenter.html
  src/Raven.Studio/wwwroot/Content/css/notification-center.less
Labels: v6.0, Studio

#17361 RavenDB-18816 Fix a race when raft command with the same guid could be accepted twice
  src/Raven.Client/Http/RequestExecutor.cs
  src/Raven.Server/Rachis/Commands/Leader.RachisMergedCommand.cs
  test/SlowTests/Cluster/ClusterOperationTests.cs
Labels: v6.0

#17364 RavenDB-20712: Update the benchmark and removed outdated optimizations.
  bench/Micro.Benchmark/Benchmarks/Dictionary.cs
  bench/Micro.Benchmark/Benchmarks/Sorting/Sorting.cs
  src/Raven.Server/Documents/Indexes/MapReduce/MapReduceIndexingContext.cs
  src/Raven.Server/Documents/Indexes/Persistence/Lucene/Documents/LuceneDocumentConverterBase.cs
  src/Sparrow/Comparers.cs
  src/Sparrow/Json/BlittableJsonReaderArray.cs
  src/Voron/Impl/Journal/JournalFile.cs
  src/Voron/Impl/LowLevelTransaction.cs
  src/Voron/Impl/Paging/Windows32BitsMemoryMapPager.cs
  src/Voron/Impl/Scratch/ScratchBufferFile.cs
  src/Voron/Impl/Scratch/ScratchBufferPool.cs
  src/Voron/Platform/Posix/Posix32BitsMemoryMapPager.cs
  test/FastTests/Sparrow/Sorting.cs
Labels: v6.0

#17369 RavenDB-21432 Backup/Periodic Backup view is broken
  src/Raven.Studio/typescript/viewmodels/database/tasks/editPeriodicBackupTask.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/editPeriodicBackupTask.html
Labels: v6.0, Studio

#17373 RavenDB-21429 RQL Code Assistance not working
  src/Raven.Studio/typescript/common/autoComplete/remoteMetadataProvider.ts
  src/Raven.Studio/typescript/common/rqlLanguageService.ts
Labels: v6.0, Studio

#17372 RavenDB-21439 Fix maxCustomSortersPerCluster
  src/Raven.Server/ServerWide/ClusterStateMachine.License.cs
Labels: v6.0

#17371 RavenDB-21433 Document Refresh/Revisions the license minimum value is treated as the maximum
  src/Raven.Studio/typescript/components/pages/database/settings/documentExpiration/DocumentExpiration.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRefresh/DocumentRefresh.tsx
  src/Raven.Studio/typescript/test/stubs/DatabasesStubs.ts
Labels: v6.0, Studio

#17360 RavenDB-21379 Fixing the load of documents using LoadStartingWith option by changing the type of objects that the streaming works on - instead of Document we use BlittableJsonReaderObject.
  src/Raven.Server/Documents/Handlers/Processors/Documents/AbstractDocumentHandlerProcessorForGet.cs
  src/Raven.Server/Documents/Handlers/Processors/Documents/DocumentHandlerProcessorForGet.cs
  src/Raven.Server/Documents/Sharding/Handlers/Processors/Collections/ShardedCollectionsHandlerProcessorForGetCollectionDocuments.cs
  src/Raven.Server/Documents/Sharding/Handlers/Processors/Documents/ShardedDocumentHandlerProcessorForGet.cs
  src/Raven.Server/Documents/Sharding/ShardedDatabaseContext.Streaming.cs
  src/Raven.Server/Json/BlittableJsonTextWriterExtensions.cs
  src/Raven.Server/Web/Studio/Sharding/Processors/ShardedStudioCollectionsHandlerProcessorForPreviewCollection.cs
  test/SlowTests/MailingList/LoadAllStartingWith.cs
Labels: Sharding, v6.0

#17383 RavenDB-21441 Remove autofocus from External Replication & Replication Hub tasks
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTaskAddModal.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/editExternalReplicationTask.ts
  src/Raven.Studio/typescript/viewmodels/database/tasks/editReplicationHubTask.ts
Labels: v6.0, Studio

#17377 RavenDB-21446 Modify Periodic Backups licensing tab
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditPeriodicBackupTaskInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/tasks/editPeriodicBackupTask.ts
  src/Raven.Studio/typescript/viewmodels/manage/EditServerWideBackupInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/manage/editServerWideBackup.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/editPeriodicBackupTask.html
  src/Raven.Studio/wwwroot/App/views/manage/editServerWideBackup.html
Labels: v6.0, Studio

#17378 RavenDB-21437 Rewrite alert text for Subscriptions
  src/Raven.Studio/typescript/viewmodels/database/tasks/EditSubscriptionTaskInfoHub.tsx
  src/Raven.Studio/wwwroot/App/views/database/tasks/editSubscriptionTask.html
Labels: v6.0, Studio

#17385 RavenDB-21444 Remove isProfessionalOrAbove from Ongoing Tasks
  src/Raven.Studio/typescript/components/pages/database/tasks/backups/BackupsPage.tsx
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTaskAddModal.tsx
  src/Raven.Studio/typescript/models/database/tasks/periodicBackup/backupConfiguration.ts
Labels: v6.0, Studio

#17374 RavenDB-21442 Fix license badges for Connection Strings
  src/Raven.Studio/typescript/viewmodels/database/settings/connectionStrings.ts
  src/Raven.Studio/wwwroot/App/views/database/settings/connectionStrings.html
Labels: v6.0, Studio

#17386 RavenDB-21426 On Demand features in Cloud Studio
  src/Raven.Studio/typescript/components/common/FeatureAvailabilitySummary.tsx
Labels: v6.0, Studio

#17388 RavenDB-21438 Clone button should be disabled when limit for subscriptions is reached
  src/Raven.Studio/typescript/components/pages/database/tasks/ongoingTasks/OngoingTasksPage.tsx
  src/Raven.Studio/typescript/viewmodels/database/indexes/editIndex.ts
  src/Raven.Studio/typescript/viewmodels/database/tasks/editSubscriptionTask.ts
  src/Raven.Studio/wwwroot/App/views/database/tasks/editSubscriptionTask.html
Labels: v6.0, Studio

#17390 RavenDB-21422 Document Revisions refresh issue
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisions.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/store/documentRevisionsSlice.ts
Labels: v6.0, Studio

#17392 RavenDB-21407 Integrations Info Hub
  src/Raven.Studio/typescript/viewmodels/database/settings/IntegrationsInfoHub.tsx
  src/Raven.Studio/typescript/viewmodels/database/settings/integrations.ts
  src/Raven.Studio/wwwroot/App/views/database/settings/integrations.html
  src/Raven.Studio/wwwroot/Content/css/fonts/icomoon/postgresql.svg
  src/Raven.Studio/wwwroot/Content/css/fonts/icomoon/powerbi.svg
Labels: v6.0, Studio

#17393 RavenDB-21458 Fix storybook views (database custom sorters/analyzers)
  src/Raven.Studio/typescript/components/pages/database/settings/customAnalyzers/DatabaseCustomAnalyzers.stories.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/customSorters/DatabaseCustomSorters.stories.tsx
Labels: v6.0, Studio

#17400 RavenDB-21181 - SlowTests.Sharding.Replication.ShardedExternalReplica…
  test/SlowTests/Sharding/Replication/ShardedExternalReplicationTests.cs
Labels: v6.0

#17401 RavenDB-21460 Override label text for Cloud
  src/Raven.Studio/typescript/components/common/LicenseRestrictedBadge.tsx
Labels: v6.0, Studio

#17407 RavenDB-21459 Remove sharded/nonsharded from db selector
  src/Raven.Studio/typescript/components/models/databases.d.ts
  src/Raven.Studio/typescript/components/pages/resources/databases/store/databasesViewSelectors.ts
Labels: v6.0, Studio

#17409 RavenDB-21455 Fix text color for ace search field
  src/Raven.Studio/wwwroot/Content/css/ace.less
Labels: v6.0, Studio

#17404 RavenDB-21425: Setup wizard should throw if using a 5.4 license
  src/Raven.Server/Web/System/SetupHandler.cs
Labels: v6.0

#17396 RavenDB-21447 Fix test container overlapping Info Hub
  src/Raven.Studio/wwwroot/Content/css/pages/etl.less
Labels: v6.0, Studio

#17395 RavenDB-21283 Update license information in About view
  src/Raven.Studio/typescript/viewmodels/shell/about.ts
  src/Raven.Studio/wwwroot/App/views/shell/about.html
  src/Raven.Studio/wwwroot/Content/css/pages/about.less
Labels: v6.0, Studio

#17413 RavenDB-21473 Make limitation labels more precise
  src/Raven.Studio/typescript/components/pages/database/indexes/list/IndexesPage.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentExpiration/DocumentExpiration.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRefresh/DocumentRefresh.tsx
  src/Raven.Studio/typescript/components/pages/database/settings/documentRevisions/DocumentRevisions.tsx
Labels: v6.0, Studio

#17414 RavenDB-21448 Tag 6.0 Docker images with *latest tags
  docker/common.ps1
Labels: v6.0

#17415 RavenDB-21283 Fix ServerWideCustomSorters value
  src/Raven.Studio/wwwroot/App/views/shell/about.html
Labels: v6.0, Studio

#17416 RavenDB-21471 Vectorized And will check memory boundaries before loading values into vector.
  src/Corax/Queries/Meta/MergeHelper.cs
  src/Corax/Queries/TermMatch.cs
  test/FastTests/Corax/Bugs/RavenDB-21471.cs
Labels: Corax, v6.0

#17422 RavenDB-21425 Add styling for setup wizard license alert
  src/Raven.Studio/wwwroot/App/views/common/notificationCenter/detailViewer/licenseLimitDetails.html
Labels: v6.0, Studio

#17418 RavenDB-21369 - SlowTests.Sharding.Cluster.SubscriptionsWithReshardingTests.ContinueSubscriptionAfterReshardingInAClusterRF1WithOrchestratorFailover
  test/Tests.Infrastructure/RavenTestBase.Cluster.cs
Labels: v6.0

#17427 RavenDB-21485 Allow srv in mongo connection string
  src/Raven.Studio/typescript/models/database/tasks/migrateDatabaseModel.ts
Labels: v5.4, Studio

#17428 5.4 to 6.0 merge
  src/Raven.Studio/typescript/models/database/tasks/migrateDatabaseModel.ts
Labels: v6.0, Studio

#17426 RavenDB-21430 WaitForValue and move test into SlowTest.
  test/SlowTests/Corax/RavenDB-21430.cs
Labels: Corax, v6.0

#17437 RavenDB-21474 Periodic Backups - Save is not disabled for Sharded dbs
  src/Raven.Studio/typescript/viewmodels/database/tasks/editPeriodicBackupTask.ts
Labels: v6.0, Studio

#17434 RavenDB-21488 Fixing an issue where splitting a branch page at the 2n…
  src/Voron/Data/Lookups/Lookup.cs
Labels: Corax, v6.0
